@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: black url(../imagens/back-phone.jpg);
    background-size: cover;
    background-position: center center;
}
 main {
    background-color: rgba(255, 255, 255, 0.699);
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    height: 70vh;
 }

 h1 {
    text-align: center;
    font-size: 2em;
    
 }

img {
    display: block;
    margin: auto;
}
img#phone{
    display: block;
}
#phone,#tablet,#print,#pc,#tv {
    display: none;
}
